// Color overriding

$green : #467958 !default;
$black : #1D1D1D !default;
$dark-black : #000000 !default;
$light-green : #58986E !default;
$white : #ffffff !default;
$orange:  #fd7e14 !default;
$warning : #FEB800 !default;

$primary : $green !default;
$secondary : $light-green !default;
$light-gray : #f1f1f1 !default;
$light-gray2 : #c9c9c9 !default;