.main-wrapper {
  position: relative;
  margin-left: 300px;
  transition: 0.2s all;
}

.main-wrapper-min {
  margin-left: 60px !important;
  transition: 0.2s all;
}

.wrapper-transition {
  transition: 0.2s all;
}
