<div class="ma-page">
  <div class="" style="overflow-x: hidden;">
    <div class="row">
      <div class="col-sm-12">
        <div class="ps-3 p-3 ma-border">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']" class="text-muted">My Motherboard</a>
              </li>
              <li class="breadcrumb-item active text-capitalize" aria-current="page">
                {{ social_name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="row social-wrapper" *ngIf="social_name == socialNames.linkedin">
      <div class="col-sm-12">
        <div class="d-flex">
          <div class="side-nav border-end">
            <div class="h-100">
              <table class="h-100 w-100">
                <tr>
                  <td class="align-top ps-2">
                    <button type="button" class="
                          btn
                          fs0-9
                          text-muted
                          ps-2
                          pe-2
                          h-40px
                          text-uppercase text-start
                          shadow-none
                          w-100
                        " (click)="isTwitterCollapsed = !isTwitterCollapsed"
                      [attr.aria-expanded]="!isTwitterCollapsed">
                      linkedin Group / Accounts

                    </button>
                    <div class="border-0" id="twitterCollapsed" [collapse]="isTwitterCollapsed" [isAnimated]="true">

                    </div>

                    <ng-container *ngIf="myGroup?.length == 0">
                      <div class="mt-5 mb-5 text-center">
                        <button class="
                                                      btn
                                                      fs0-9
                                                      btn-default
                                                      w-50
                                                      bg-light
                                                      ps-3
                                                      pe-3
                                                      text-uppercase
                                                      shadow-none
                                                      rounded-0
                                                      border-start
                                                      h-40px
                                                    " (click)="loginLinkedIn()">
                          <fa-icon [icon]="faPlus" class="me-2 text-primary"></fa-icon>
                          linkedin
                        </button>
                      </div>
                    </ng-container>
                  </td>
                </tr>

              </table>
            </div>
          </div>


          <div class="main-content">

            <div class="container-fluid h-100" *ngIf="linkedinData.length == 0">
              <div class="row h-100">
                <div class="col mt-5">
                  <div class="text-center">

                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                            <ul class="timeline timeline-left" *ngFor="let post of posts">
                              <li class="timeline-inverted timeline-item">
                                <div class="timeline-badge success">
                                  <img src="../../../../../../assets/images/profile.png" alt="img" class="img-fluid">
                                </div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">{{user.localizedFirstName}}
                                      {{user.localizedLastName}}
                                    </h4>
                                    <p>
                                      <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>{{ post.created.time | date:'medium' }}</small>
                                    </p>
                                  </div>
                                  <div class="timeline-body">

                                    <div *ngIf="post.content">
                                      <img class="img-fluid" src={{post.content.contentEntities[0].entityLocation}}
                                        alt="img">
                                    </div>


                                    <p>{{post.text.text}}</p>
                                  </div>
                                </div>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="
                  p-4
                  text-uppercase text-center text-dark
                  fw-light
                  fs0-9
                  border-top
                  bg-white
                  mt-4
                ">
              &#169; All rights preserved by ycanbis 2021
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>